*.o
*.a
*.la
*.lo
*.so
libtool
.deps
Makefile.in
Makefile
bin/
TRIDIAGLU
INSTALL
VERSION
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
share/
stamp-h1
build/
config.guess
config.h.in~
config.sub
ltmain.sh
m4/
include/
lib/
.libs
